<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'base:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" method="GET" action="{% url 'base:search' %}">
          <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search" autocomplete="off">
          <input type="hidden" name="search_for" value="all">
          <button class="btn btn-outline-success" type="submit">Search</button>

        </form>
        <div class="d-inline-flex p-2">
          {% if request.user.is_authenticated %}
          <div class="d-inline-flex p-2">
            <div class="text-center">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li>
                    <form method="POST" action="{% url 'authentication:logout' %}">
                        {% csrf_token %}
                        <div class="mb-3 float-right">
                            <button type="submit" class="btn btn-primary float-right">Logout</button>
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </form>
                  </li>
                  <li><hr class="dropdown-divider"></li>

                </ul>
              </li>
            </div>
          </div>
          {% else %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#register_modal">
              Register
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login_modal">
              Login
            </button>
          {% endif %}
        </div>
      </div>
    </div>
</nav>
{% include 'authentication/login_modal.html' %}
{% include 'authentication/register_user.html' %}
