
{% extends 'base/base.html' %}

{% block header %}
    <title>Answer Question</title>
{% endblock %}
    
{% block content %}

    <div class="container" style="width: 45%;">
        <form action="{% url 'base:writeanswer' question.id %}" method="POST">

            {%csrf_token%}
            <div class="alert alert-success" role="alert">
                Question:  
                {{ question.question }}
            </div>
            <div class="mb-3">
                <label for="id_username">Answer:</label>
                <textarea class="form-control" name="answer" placeholder="write answer" maxlength="150">
                    
                </textarea>  
            </div>
            <div class="text-danger">
                {% for error in form.dob.errors %}{{ error }}<br/>{% endfor %}
                <input class="btn btn-primary" type="submit" value="sumbit">
            </div>
        </form>
    </div>
    
{% endblock %}